<script setup lang="ts "></script>

<template>
  <v-app style="background-color: #d0f0c0">
    <v-card class="mx-auto">
      <v-avatar size="250" rounded="0">
        <v-img
          src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.6435-9/117182307_1786439558165341_3653690691809999479_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHAV4j-LL4F8VlVnjS3tBo7jDDNYv9L78SMMM1i_0vvxA39zxRnTMZM2kw_GnxB1HrJT1KwlLjJlGU32d-s20iS&_nc_ohc=eXuOtMZ7XQgAX_gaVj5&_nc_ht=scontent.fbkk12-2.fna&oh=00_AfB4yXQMErkQXZh5lUb8LUAvJ0jaIqqU11u25Ma53t5dRg&oe=63E1E83F"
        ></v-img>
      </v-avatar>
    </v-card>
    <h1
      align="center"
      style="font-size: 50px; font-family: monospace; color: white"
    >
      Suraida Binyoh
    </h1>
    <v-row justify="center">
      <v-col cols="9">
        <v-table>
          <thead>
            <tr>
              <th>ลำดับชั้นการศึกษา</th>
              <th>ประวัติการศึกษา</th>
              <th>ปีการศึกษา</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>อนุบาล</th>
              <th>โรงเรียนรัชตะวิทยา</th>
              <th>2548 - 2550</th>
            </tr>
            <tr>
              <th>ประถมศึกษา</th>
              <th>โรงเรียนรัชตะวิทยา</th>
              <th>2551 - 2556</th>
            </tr>
            <tr>
              <th>มัธยมศึกษา</th>
              <th>โรงเรียนสตรีอิสลามวิทยามูลนิธิ</th>
              <th>2557 - 2562</th>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <h2 align="center" style="font-size: 30px; color: black">
      สิ่งที่ตัวเองสนใจ
    </h2>
    <br />
    <p align="center" style="color: black">
      ชอบเล่นเกมและรวมถึงติดตามข่าวสารวงการเกม
    </p>
    <p align="center" style="color: black">
      ฟังเพลงที่ฟังได้หลากหลายแนว แต่เน้นที่เพลง Jpop
    </p>
    <p align="center" style="color: black">
      เบื่อจากฟังเพลง มาฟัง Podcast ช่อง Youtube ต่างๆ
    </p>
  </v-app>
</template>
